@import "./variables.scss";
@import "./utils.scss";

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border: none;
  @extend %bbx;
  padding: 1rem;
  border-radius: $radius;

  font-size: 1rem;
  color: $color-white;

  cursor: pointer;
  @extend %typography;
  transition: 0.4s ease 0s;

  &--sm {
    padding: 0.9rem;
    border-radius: $radius-sm;
    font-size: 0.9rem;
  }

  &--primary {
    background-color: $color-accent;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      box-shadow: 0 15px 15px -10px transparentize($color: $color-accent, $amount: 0.75);
      animation: bouncingButton 3s ease-in infinite;

      .btn__cost_coin {
        animation: bouncingCoin 1.2s ease-in infinite;
      }
    }
  }

  &--disabled {
    background-color: $color-base-alt;
  }

  &__cost {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &_number {
      font-size: 1.2rem;
    }

    &_coin {
      width: 25px;
      margin-left: 10px;
    }
  }
}

@keyframes bouncingButton {
  90% {
    transform: scale(1);
  }

  95% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bouncingCoin {
  0% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.75);
  }

  95% {
    transform: scale(1.1);
  }
}
