$color-black: #000;
$color-white: #fff;
$color-base: #ebebeb;
$color-base-alt: scale-color($color-base, $lightness: -15%);
$color-accent: #37a5ff;
$color-alt: #ff3770;

$type: "Montserrat", sans-serif;

$radius: 15px;
$radius-sm: 10px;
