html,
body {
  width: 100%;
  min-height: 85vh;

  box-sizing: border-box;
  background-color: #ebebeb;
}

body {
  margin: 0;
  box-sizing: border-box;

  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 80px;

  font-family: "Montserrat", sans-serif;
  background-image: url("./assets/pattern.svg");
  background-position: center -140px;
  background-repeat: repeat-x;
  background-size: 500px;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
