html,
body {
  width: 100%;
  min-height: 85vh;

  box-sizing: border-box;
  background-color: #ebebeb;
}

body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  background-image: url("./assets/pattern.svg");
  background-position: center -140px;
  background-repeat: repeat-x;
  background-size: 500px;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
}
